@font-face {
  font-family: 'GT-America-Mono-Medium';
  font-weight: normal;
  src: url('~static/fonts/GT-America-Mono-Medium.eot'); /* IE9 Compat Mode */
  src: url('~static/fonts/GT-America-Mono-Medium.woff') format('woff'),
    url('~static/fonts/GT-America-Mono-Medium.woff2') format('woff2'),
    url('~static/fonts/GT-America-Mono-Medium.otf') format('otf'),
    url('~static/fonts/GT-America-Mono-Medium.eot') format('eot');
}

@font-face {
  font-family: 'GT-America-Standard-Regular';
  font-weight: normal;
  src: url('~static/fonts/GT-America-Standard-Regular.eot'); /* IE9 Compat Mode */
  src: url('~static/fonts/GT-America-Standard-Regular.woff') format('woff'),
    url('~static/fonts/GT-America-Standard-Regular.woff2') format('woff2'),
    url('~static/fonts/GT-America-Standard-Regular.otf') format('otf'),
    url('~static/fonts/GT-America-Standard-Regular.eot') format('eot');
}
